.body{
    display: flex;
    justify-content: space-between; 
    float: right;
    width: 160px;
    height: 100px;
    border-radius: 5px;
    margin: 0 7px 7px 0;
}
.p{
    color: #fff;
    margin: 0;
    padding: 7px 12px;
    font-size: 20px;
    text-decoration: none;
}
.button{
    background: none;
    border: none;
    outline: none;
    color:#fff;
    cursor: pointer;
    height: 10px;
    font-size: 16px;
    padding: 10.5px 12px;
}
.textContainer{
    word-wrap: break-word;
    max-width: 120px;
}
