.body{
    display: flex;
    align-items: flex-start;
    height: 93.5vh;
    width: 100%;
}
.addTableButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 37px;
    margin: 0.5%;
    border-radius: 7px;
    cursor: pointer;
}
.addTableButton:hover{
    filter: brightness(90%) !important;
}
.p{
    font-size: 1em;
    color: #fff;
    margin: 0 0 1% 0;
}
.pPlus{
    font-size: 1.5em;
    color: #fff;
    margin: 0 0 2% 0;
}
.addTableForm{
    width: 20vw;
    padding: 2%;
    margin: 0.5%;
    background: #ebecf0;
    border-radius: 5px;
    transition: 0.2s;
}
.input{
    width: 100%;
    height: 25px;
    background: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 1%;
    margin-bottom: 2%;
    color: #fff;
    font-size: 16px;
}
.input:hover{
    filter: brightness(110%);
}
.input::-webkit-input-placeholder{
    font-size: 16px;
    color: #fff;
}
.input::-moz-placeholder{
    font-size: 16px;
    color: #fff;
}
.input:-moz-placeholder{
    font-size: 16px;
    color: #fff;
}
.input:focus{
    filter: brightness(110%) !important;
}
.buttonContainer{
    width: 101.5%;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 49%;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.button:hover{
    filter: brightness(115%) !important;
}
.button_disable{
    width: 49%;
    height: 30px;
    background: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: not-allowed;
    color: rgb(180, 179, 179);
}