.body{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1vh;
    margin-top: 1vh;
    border-radius: 5px;
    cursor: pointer;
}
.body:hover{
    filter: brightness(90%) !important;
}
.button{
    background: none;
    border: none;
    outline: none;
    color:#fff;
    cursor: pointer;
}