.body{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1vh;
    margin-top: 1vh;
    border-radius: 5px;
    cursor: pointer;
}
.body:hover{
    filter: brightness(90%) !important; /* because of the use of primary styling by js */
}
.button{
    background: none;
    border: none;
    outline: none;
    color:#fff;
    cursor: pointer;
    padding-top: 2.4%;
}
.text{
    font-size: 24px;
    margin: 15% 0 0 15%;
}
.input{
    width: 60%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 16px;
    margin-left: 2%;
    color: #000;
}
.modal-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 80vh;
    background: #fff;
    border-radius: 5px;
    outline: none;
}
.formContainer{
    width: 100%;
}