header{
  display: flex;
  justify-content: space-between;
  height: 6.5vh;
}
header .title-container{
  margin: 5px;
  color: #fff;
}
header .title-container .title{
  margin: 0;
}
header .search-container{
  display: flex;
  align-items: center;
  margin: 5px;
}
header .search-container .search-input{
  width: 40vw;
  height: 3.8vh;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 3px;
  color: #fff;
}
header .search-container .search-button{
  border: none;
  border-radius: 5px;
  height: 4.2vh;
  color: #fff;
  cursor: pointer;
  outline: none;
}
header .search-container .search-button:hover{
  filter: brightness(95%) !important; /* because of the use of primary styling by js */
}
header .home-button{
    color: #fff;
    width: 24.5px;
    height: 24.5px;
    margin-right: 3px;
    padding: 1px 6px 1px 6px;
    border-radius: 5px;
}
header .home-button:hover{
  filter: brightness(95%) !important; /* because of the use of primary styling by js */
}